#back {

    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    backdrop-filter: blur(2.5px);

    position: fixed;
    z-index: 750;
    top: 25px;
    left: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    
    /* 确保按钮可以正确缩放 */
    transform: scale(1);
    transition: all 0.1s ease;
    
}
#back:active {
    transform: scale(0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
#back img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.8;
}