/* 滚动框架 */
.list_frame {
    
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 700;

    display: flex;
    flex-direction: column;
    align-items: center;

}
/* 隐藏滚动条 */
.list_frame::-webkit-scrollbar {
    width: 0px; /* 设置滚动条宽度为0，隐藏滚动条 */
}

/* 选项框 */
.options_list {

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}