#scan {

    width: 50px;
    height: 50px;
    border: 1.5px solid rgb(255, 255, 255);
    background-color: rgba(148, 148, 148, 0.2);
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    backdrop-filter: blur(2.5px);

    position: fixed;
    z-index: 750;
    top: 25px;
    right: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* 确保按钮可以正确缩放 */
    transform: scale(1);
    transition: all 0.1s ease;
    
}
#scan:active {
    transform: scale(0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
#scan img {
    width: 70%;
    height: 70%;
    opacity: 0.8;
}