#main_gui {

    position: fixed;
    z-index: 700;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: nowrap;

    transition: transform 0.3s ease;

    /* 这个记得删掉，控制当前页码 */
    /* transform: translateX(-200%); */

}
#main_gui iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex-shrink: 0; /* 防止被压缩 */
    margin: 0; /* 重置默认 margin */
    padding: 0; /* 重置默认 padding */
}